vssol/MaskTool.TestMy/Connected Services/WCFService/WCFService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Manifest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Manifest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MacManifestDeviceCfg">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevConnStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfMacManifestDeviceCfg" />
      <xs:element minOccurs="0" name="DriverId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MacManifestDeviceCfg" nillable="true" type="tns:MacManifestDeviceCfg" />
  <xs:complexType name="ArrayOfMacManifestDeviceCfg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MacManifestDeviceCfg" nillable="true" type="tns:MacManifestDeviceCfg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMacManifestDeviceCfg" nillable="true" type="tns:ArrayOfMacManifestDeviceCfg" />
  <xs:complexType name="MacManifestDriverCfg">
    <xs:sequence>
      <xs:element name="_x003C_DriverId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DriverPath_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Product_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Remark_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Vendor_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="m_AssignType" nillable="true" type="q1:Type" />
      <xs:element name="m_TypeGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MacManifestDriverCfg" nillable="true" type="tns:MacManifestDriverCfg" />
</xs:schema>