vssol/MaskTool.TestMy/Connected Services/WCFService/WCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Hal.Assembly" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtHalMaskTransfer_TestPathMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Hal.Assembly" minOccurs="0" name="mt" nillable="true" type="q1:MacHalMaskTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtHalMaskTransfer_TestPathMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UtHalMaskTransfer_TestPathMoveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>