vssol/MaskTool.TestMy/Connected Services/WCFService/WCFService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MvAssistant.Mac" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MvAssistant.Mac" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Manifest" />
  <xs:complexType name="HalBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DevSettings" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Manifest" minOccurs="0" name="HalDeviceCfg" nillable="true" type="q2:MacManifestDeviceCfg" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MvAssistant.Mac.v1_0.Manifest" minOccurs="0" name="HalDriverCfg" nillable="true" type="q3:MacManifestDriverCfg" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Hals" nillable="true" type="q4:ArrayOfKeyValueOfstringHalBaseJhfPkw6N" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HalBase" nillable="true" type="tns:HalBase" />
</xs:schema>