vssol/MvAssistant.WCFService.TestFrm/Connected Services/WCFService/MvAssistantWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MvAssistantWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8002/WCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMvAssistantWCFService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMvAssistantWCFService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMvAssistantWCFService_UtHalMaskTransfer_TestPathMove_InputMessage">
    <wsdl:part name="parameters" element="tns:UtHalMaskTransfer_TestPathMove" />
  </wsdl:message>
  <wsdl:message name="IMvAssistantWCFService_UtHalMaskTransfer_TestPathMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:UtHalMaskTransfer_TestPathMoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IMvAssistantWCFService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMvAssistantWCFService/GetData" message="tns:IMvAssistantWCFService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMvAssistantWCFService/GetDataResponse" message="tns:IMvAssistantWCFService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UtHalMaskTransfer_TestPathMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IMvAssistantWCFService/UtHalMaskTransfer_TestPathMove" message="tns:IMvAssistantWCFService_UtHalMaskTransfer_TestPathMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMvAssistantWCFService/UtHalMaskTransfer_TestPathMoveResponse" message="tns:IMvAssistantWCFService_UtHalMaskTransfer_TestPathMove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMvAssistantWCFService" type="tns:IMvAssistantWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMvAssistantWCFService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UtHalMaskTransfer_TestPathMove">
      <soap:operation soapAction="http://tempuri.org/IMvAssistantWCFService/UtHalMaskTransfer_TestPathMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MvAssistantWCFService">
    <wsdl:port name="BasicHttpBinding_IMvAssistantWCFService" binding="tns:BasicHttpBinding_IMvAssistantWCFService">
      <soap:address location="http://127.0.0.1:8002/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>